h1(layout) 
  span(flex) Posts
  md-button.md-raised(ui-sref="home.admin.posts.new") Add New
md-card(flex, layout="column")
  md-table-container(layout, flex)
    table(md-table, flex)
      thead(md-head, md-order="query.order")
        tr(md-row)
          th(md-column) Title
          th(md-column) Slug
          th(md-column) Created At
          th(md-column) Published
          th(md-column)
        tbody(md-body)
          tr(md-row, ng-repeat="post in posts")
            td(md-cell) {{post.title}}
            td(md-cell) {{post.slug}}
            td(md-cell) {{post.createdAt}}
            td(md-cell)
              md-checkbox(ng-model="post.isPublished", ng-change="updatePost(post)")
            td.text-right(md-cell, layout, layout-align="end center")
              md-button.md-icon-button(ui-sref="home.admin.posts.post({postId: post.id})", layout, layout-align="center center")
                i.fa.fa-pencil
              md-button.md-icon-button
                i.fa.fa-remove
  md-table-pagination(md-label="{{options.label}}" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{testResults.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="options.changePage()")