<div id="popup" class="prebuild-field-popup">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add New Locked Field</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form name="newPrebuildFieldForm" ng-submit="addPrebuildForm()">
      <div class="row">
        <div class="col-md-7">
          <input class="form-control" ng-model="field.name" placeholder="Field Name" required />
        </div>
        <div class="col-md-3">
          <select class="form-control" ng-model="field.type" required >
            <option ng-repeat="(typeValue,name) in types" value="{{typeValue}}">{{name}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>
            <input type="checkbox" ng-model="field.required" /> Required
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="addPrebuildField()" ng-disabled="newPrebuildFieldForm.$invalid">Submit</button>
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
  </div>
</div>