<div id="popup" class="prebuild-field-popup">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Build New Template Field</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form name="newPrebuildFieldForm" ng-submit="addPrebuildForm()">
      <div class="row">
        <div class="col-md-7">
          <input class="form-control" ng-model="field.name" placeholder="Field Name" required ng-change="waitingForUpdateField(field)"/>
        </div>
        <div class="col-md-3">
          <select class="form-control" ng-model="field.type" required ng-change="updateField(field)">
            <option ng-repeat="(typeValue,name) in types" value="{{typeValue}}">{{name}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>
            <input type="checkbox" ng-model="field.required" ng-change="updateField(field)"/> Required
          </label>
        </div>
      </div>
      <div class="choices" ui-sortable ng-model="field.choices" ng-show="field.type =='select' || field.type=='multi-select'">
        <div ng-repeat="choice in field.choices">
          <div class="row form-group">
            <div class="col-md-5">
              <input class="form-control" ng-model="choice.name" placeholder="Choice name" ng-change="waitingForUpdateChoice(choice)"/>
            </div>
            <div class="col-md-3">
              <select class="form-control" ng-model="choice.sectionToAdd" ng-change="updateChoice(choice); prepareUsingSections(choice)" disabled >
                <option value>Don't add section</option>
                <option ng-repeat="aSection in addedSections" ng-disabled="checkSectionAvaiable(aSection)" value="{{aSection.id}}">Add section: {{aSection.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <input class="form-control" ng-model="choice.value" placeholder="Enter Value" ng-change="waitingForUpdateChoice(choice)">
            </div>
            <div class="col-md-1">
              <a ng-click="removeChoice(field, choice)" href="#"><i class="fa fa-remove"></i></a>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-default" ng-click="addNewChoice(field)">+ Add new choice</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button class="btn btn-success" ng-click="addPrebuildField()" ng-disabled="newPrebuildFieldForm.$invalid">Submit</button> -->
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
  </div>
</div>