extends ./layout.index

block body
	div(ui-view="main")

	// SCRIPTS
	script(src="/js/dependencies/sails.io.js")
	script(src="/vendor/jquery/jquery.js")
	script(src="/vendor/angular/angular.js")
	script(src="/vendor/moment/moment.js")
	script(src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
	script(src="/vendor/angular-route/angular-route.js")
	script(src="/vendor/angular-toastr/angular-toastr.tpls.js")
	script(src="/vendor/angular-ui-router/angular-ui-router.js")
	script(src="/vendor/angular-ui-select2/select2.js")
	script(src="/vendor/angular-ui-sortable/sortable.js")
	script(src="/vendor/bootstrap-css/bootstrap.min.js")
	script(src="/vendor/jquery-ui/jquery-ui.js")
	script(src="/vendor/lodash/lodash.js")
	script(src="/vendor/restangular/restangular.js")
	script(src="/vendor/select2/select2.js")
	script(src="/vendor/sweetalert/sweetalert.min.js")
	script(src="/app/templates-app.userPage.js")
	script(src="/app/cms-app.js")
	script(src="/app/directives/form-choices/form-choices.js")
	script(src="/app/directives/form-section/form-section.js")
	script(src="/app/services/alert-service.js")
	script(src="/app/services/modal-service.js")
	// SCRIPTS END