extends ./layout.index

block body
	div(ui-view="main")

	// SCRIPTS
	script(src="/js/dependencies/sails.io.js")
	script(src="/vendor/jquery/jquery.js")
	script(src="/vendor/angular/angular.js")
	script(src="/vendor/moment/moment.js")
	script(src="/vendor/angular-animate/angular-animate.js")
	script(src="/vendor/angular-aria/angular-aria.js")
	script(src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
	script(src="/vendor/angular-material-data-table/md-data-table.js")
	script(src="/vendor/angular-material/angular-material.js")
	script(src="/vendor/angular-messages/angular-messages.js")
	script(src="/vendor/angular-route/angular-route.js")
	script(src="/vendor/angular-toastr/angular-toastr.tpls.js")
	script(src="/vendor/angular-ui-router/angular-ui-router.js")
	script(src="/vendor/angular-ui-select/select.js")
	script(src="/vendor/angular-ui-select2/select2.js")
	script(src="/vendor/angular-ui-sortable/sortable.js")
	script(src="/vendor/bootstrap-css/bootstrap.min.js")
	script(src="/vendor/jquery-ui/jquery-ui.js")
	script(src="/vendor/lodash/lodash.js")
	script(src="/vendor/restangular/restangular.js")
	script(src="/vendor/select2/select2.js")
	script(src="/vendor/sweetalert/sweetalert.min.js")
	script(src="/app/templates-app.userPage.js")
	script(src="/app/app.js")
	script(src="/app/admin/admin-home.js")
	script(src="/app/admin/menu/menu.js")
	script(src="/app/admin/pages/page.js")
	script(src="/app/admin/pages/pages.js")
	script(src="/app/admin/posts/post.js")
	script(src="/app/admin/posts/posts.js")
	script(src="/app/front/front.js")
	// SCRIPTS END