html
  head
    title= title
    base(href='/')

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description", content="A Test Framework.")
    meta(name="fragment" content="!")
    // STYLES
    link(rel="stylesheet", href="/vendor/angular-material-data-table/md-data-table.css")
    link(rel="stylesheet", href="/vendor/angular-material/angular-material.css")
    link(rel="stylesheet", href="/vendor/angular-toastr/angular-toastr.css")
    link(rel="stylesheet", href="/vendor/angular-ui-select/select.css")
    link(rel="stylesheet", href="/vendor/bootstrap-css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/select2/select2.css")
    link(rel="stylesheet", href="/vendor/sweetalert/sweetalert.css")
    link(rel="stylesheet", href="/styles/font-awesome.min.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
  body(ng-app="app")
    block body
