.container
  h1 {{page.title}}
  div.content(style="white-space: pre-line;", ng-if="!page.isBlog")
    div(ng-bind-html="page.content")
  div.content(ng-if="page.isBlog")
    .posts
      div(ng-repeat="post in posts")
        h3 {{post.title}}