<h3>{{section.name}}
  <a ng-if="section.id != 1" class="remove-btn" ng-click="removeUsingSection(section)"><i class="fa fa-remove"></i></a>
</h3>
<textarea class="form-control" ng-model="section.description" ng-change="waitingForUpdateSection(section)"></textarea>
<div class="section-fields">
  <div class="fields field-sortable" ui-sortable="sectionFieldsSortable" ng-model="section.fields">
    <div ng-repeat="field in section.fields" class="single-field" ng-class="{locked: field.isLocked}">
      <div class="row form-group">
        <div class="col-md-7">
          <!-- <span>{{field.order}}</span> -->
          <input ng-model="field.name" class="form-control" ng-change="waitingForUpdateField(field)"/>
        </div>
        <div class="col-md-3">
          <select class="form-control" ng-model="field.type" required ng-change="updateField(field)">
            <option ng-repeat="(typeValue,name) in types" value="{{typeValue}}">{{name}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>
            <input type="checkbox" ng-model="field.required" ng-change="updateField(field)"/> Required
          </label>
        </div>
        <a class="remove-btn" ng-click="removeField(section, field)"><i class="fa fa-remove"></i></a>
      </div>
      <div class="choices" ui-sortable ng-model="field.choices" ng-show="field.type =='select' || field.type=='multi-select'">
        <div ng-repeat="choice in field.choices">
          <div class="row form-group">
            <div class="col-md-5">
              <input class="form-control" ng-model="choice.name" placeholder="Choice name" ng-change="waitingForUpdateChoice(choice)"/>
            </div>
            <div class="col-md-3">
              <select class="form-control" ng-model="choice.sectionToAdd" ng-change="updateChoice(choice); prepareUsingSections(choice)" ng-disabled="field.type=='multi-select'">
                <option value>Don't add section</option>
                <option ng-repeat="aSection in addedSections" ng-disabled="checkSectionAvaiable(aSection)" value="{{aSection.id}}">Add section: {{aSection.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <input class="form-control" ng-model="choice.value" placeholder="Enter Value" ng-change="waitingForUpdateChoice(choice)">
            </div>
            <div class="col-md-1">
              <a ng-click="removeChoice(field, choice)" href="#"><i class="fa fa-remove"></i></a>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-default" ng-click="addNewChoice(field)">+ Add new choice</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-default" ng-click="addNewField(section)">Add New Field</button>
</div>